# Prerequisites
*.d

# reference
/S2GD/

# Intellij
/.idea/

# dataset
a*a
*.dat
*.mat
/datasets/

# test
*.c
small_test.cpp
small_test

# template
*.cpp.t
*.hpp.t

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.mexa64

# Executables
test
*.exe
*.out
*.app
